#contenu{
    display:grid;
    grid-template-rows: auto 1fr 1fr auto ;
}

#header{
    display: flex;
    background-color: grey;
    justify-content: space-between ;
    align-items: flex-start;
    padding-right: 300px;
}
#header div:nth-child(n+2){
    flex-direction: row;
    padding-top: 30px;
}
#footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
h1{
    text-align: center;
}
#contenu{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px;
}
#contenu div:nth-child(n+2){
    display:flex;
    flex-direction: column;
    justify-content: center;
}
h3{
    align-self: center;
    text-decoration: underline;
}

p{
    align-self: flex-start;
    margin: 30px;
    text-align: center;

}
img{
    align-self: flex-start;
}
figcaption{

    align-self: flex-end;
}

a:active{
    color:palevioletred;
}

#contenu a:hover{
    font-size: 200%;
}