#header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 300px;
}

#header div:nth-child(n+2) {
    flex-direction: row;
    padding-top: 30px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}