#header {
    display: flex;
    background-color: grey;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 300px;
}

#header div:nth-child(n+2) {
    flex-direction: row;
    padding-top: 30px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

pre {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
}

h1 {
    text-align: center;
}

p,
h3,
ol {
    margin: 20px;
}

h3 {
    margin-left: 50px;
}

ul {
    margin: 30px;
}

#navflex {
    display: flex;
    justify-content: space-around;
}

#flexProperty {
    display: flex;
    flex-direction: column;
}


.float{
    float :right;
}

#flexPosition {
    display: flex;
    flex-direction: column;
}